<div class="card">
    @if (data.data.img) {
        <div class="card-header">
            <img [src]="data.data.img" alt="" class="image">
        </div>
    }
    <div class="card-body">
        <h2 class="title">{{data.data.name}}</h2>
        <input id="text" type="text" class="input" (change)="onChange($event)">
        <p class="info">{{data.data.description}}</p>
        @if (data.data.price) {
            <p class="info">{{data.data.price}}</p>
        }    
    </div>
    <div class="card-footer">
        <button class="btn" (click)="onClick()">Ver Datos</button>
    </div>
</div>