<div class="container">
    <app-card
        Image="/images/pic.jpg" 
        title="Paola Agraz" 
        info="Tomando un nap antes de clase"
        textbtn="Ver Perfil"
        [clickEvent]="verPerfil"
    />
    <app-card
        Image="/images/pic2.jpg" 
        title="Evelin + Paola" 
        info="Fotos tomados primer semestre de la preparatoria"
        textbtn="Ver Mas"
        [clickEvent]="conocerMas"
    />

    <button class="btnhome" (click)="goProducts()">Ver Productos</button>
</div>
